{{>header}}
{{>navbar}}
    <h1>Diego Rivera</h1>
<img src="/imagenes/p4.png" class="rounded float-left" alt="Diego">
   <Br></Br>
   <h4>Diego Rivera (Guanajuato, México, 8 de diciembre de 1886-Ciudad de México, íd., 24 de noviembre de 1957) fue un destacado muralista mexicano de ideología comunista, famoso por plasmar obras de alto contenido político y social en edificios públicos. La obra de Diego y de su esposa, la pintora Frida Kahlo, se influyeron mutuamente. Fue creador de diversos murales en distintos puntos del ahora llamado Centro Histórico de la Ciudad de México.</h4>
  <Br></Br>
  <Br></Br>
   <h2>Obras hechas por el pintor:</h2>
  <Br></Br>
  <img src="/imagenes/d1.jpg" alt="pintura1" class="pintura">
  <img src="/imagenes/d2.jpg" alt="pintura2" class="pintura">
  <img src="/imagenes/d3.jpg" alt="pintura3" class="pintura">
  <img src="/imagenes/d4.jpg" alt="pintura4" class="pintura">
  <img src="/imagenes/d5.jpg" alt="pintura5" class="pintura">
   <BR></BR>
   <BR></BR>
   <BR></BR>
   <BR></BR>
{{>footer}}