{{>header}}
{{>navbar}}
    <h1>Pintores</h1>
<Br></Br>
  <img src="/imagenes/p1.png" alt="pintor1" class="pint">
  <img src="/imagenes/p2.png" alt="pintor2" class="pint">
  <img src="/imagenes/p3.png" alt="pintor3" class="pint">
  <img src="/imagenes/p4.png" alt="pintor4" class="pint">
   <BR></BR>
{{>footer}}
 