{{>header}}
{{>navbar}}
    <h1>Leonardo Da Vinci</h1>
   <img src="/imagenes/p1.png" class="rounded float-left" alt="Leonardo">
   <Br></Br>
   <h4>Leonardo da Vinci (Leonardo di ser Piero da Vinci) (Vinci, 15 de abril de 1452​-Amboise, 2 de mayo de 1519) fue un polímata florentino del Renacimiento italiano. Fue a la vez pintor, anatomista, arquitecto, paleontólogo, artista, botánico, científico, escritor, escultor, filósofo, ingeniero, inventor, músico, poeta y urbanista. Murió acompañado de Francesco Melzi, a quien legó sus proyectos, diseños y pinturas </h4>
  <Br></Br>
  <Br></Br>
  <Br></Br>
   <h2>Obras hechas por el pintor:</h2>
  <Br></Br>
  <img src="/imagenes/l1.jpg" alt="pintura1" class="pintura">
  <img src="/imagenes/l2.jpg" alt="pintura2" class="pintura">
  <img src="/imagenes/l3.jpg" alt="pintura3" class="pintura">
  <img src="/imagenes/l4.webp" alt="pintura4" class="pintura">
  <img src="/imagenes/l5.jpg" alt="pintura5" class="pintura">
   <BR></BR>
   <BR></BR>
   <BR></BR>
   <BR></BR>

{{>footer}}
