{{>header}}
{{>navbar}}
    <h1>Miguel Angel</h1>
 <img src="/imagenes/p2.png" class="rounded float-left" alt="Miguel">
   <Br></Br>
   <h4>Michelangelo Buonarroti (Caprese, 6 de marzo de 1475-Roma, 18 de febrero de 1564), conocido en español como Miguel Ángel, fue un arquitecto, escultor y pintor italiano renacentista, considerado uno de los más grandes artistas de la historia tanto por sus esculturas como por sus pinturas y obra arquitectónica. Desarrolló su labor artística a lo largo de más de setenta años entre Florencia y Roma, que era donde vivían sus grandes mecenas, la familia Médici de Florencia y los diferentes papas romanos</h4>
  <Br></Br>
  <Br></Br>
   <h2>Obras hechas por el pintor:</h2>
  <Br></Br>
  <img src="/imagenes/m1.jpg" alt="pintura1" class="pintura">
  <img src="/imagenes/m2.jpg" alt="pintura2" class="pintura">
  <img src="/imagenes/m3.jpg" alt="pintura3" class="pintura">
  <img src="/imagenes/m4.jpg" alt="pintura4" class="pintura">
  <img src="/imagenes/m5.jpg" alt="pintura5" class="pintura">
   <BR></BR>
   <BR></BR>
   <BR></BR>
   <BR></BR>
{{>footer}}